@model ProductViewModel
@{
    var popularClass = Model.Products.Count > 2 ? "popular" : "";
    var categoryName = Model.Category.Name;
    var products = Model.Products;
}
<style>
    .popular {
        color: green;
        font-weight: 700;
    }
</style>

<h1 class="@popularClass">@categoryName</h1>

@if (Model.Products.Count == 0)
{
    <p style="color:red">Ürün yok</p>
}
else
{
    <ul>
        @foreach (var product in products)
        {
            @if (product.IsApproved)
            {
                <li style="color:green">
                    <div>
                        <p>@product.Name</p>
                        <p>@product.Price</p>
                        <p>@product.Description</p>
                    </div>
                </li>
            }
            else
            {
                <li style="color:red">Ürün Satışta Değil</li>
            }
        }

    </ul>

}


