@model ProductViewModel

    <h1>@Model.Category.Name</h1>
<div>
    <p>@Model.Products[0].Name</p>
    <p>@Model.Products[0].Price</p>
    <p>@Model.Products[0].Description</p>
</div>
<div>
    <p>@Model.Products[1].Name</p>
    <p>@Model.Products[1].Price</p>
    <p>@Model.Products[1].Description</p>
</div>